<!DOCTYPE html>
<html>
<head>
    <title>Pferderennen als Fenstertitel</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Horse Racer</h1>
<p id="from-server"></p>

<form id="player">
  <input type="text" name="name" value="" placeholder="Gib deinen Namen an">
  <button type="submit" name="button">Spiel starten</button>
</form>
</body>

<!-- Load jquery -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function(data) {
        console.log("Socket connection to server established.")
    });

    socket.on('message_to_client', function(data) {
        // convert data
        var msg = JSON.stringify(data);

        // print msg
        $('#from-server').html(msg);
        console.log(msg);

        var data = {"type": "echo", "data": msg}
        socket.emit("message_from_client", JSON.stringify(data));
    });

    <!--"Hier kommen alle Events rein, die vom Server empfangen werden koennen. Einfach wie die Beispiele oben."-->

    $('#player').submit(function(e){
      e.preventDefault();

      var name = $(this).serializeArray(),
          myJSON = {};

      myJSON.type = "game_start"
      myJSON.data = {"name": name[0].value};


      console.log('this was sent to the server:', JSON.stringify(myJSON));
      socket.emit('message_from_client', JSON.stringify(myJSON));

    });

</script>
</html>
